.python-environments
auto-save-list
backups
elpa
eshell
ido.last
network-security.data
projectile-bookmarks.eld
recentf
ac-comphist.dat
init.el~
bookmarks
("recentf~")
recentf~
.cache/
.session.*
session.*
transient/
url/